
h1{
  display: flex;
  text-align: center;
  margin-top: 30%;
  margin-left: 45%;
  font-size: 180px;
  font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Times New Roman', Times, serif;
  color:rgb(52, 225, 98);
  
}